.btn,
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    .font-main();
}

.btn {
    border: 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 18px;
    font-size: 1.8rem;
    .font-demi();
    .transition-all();
}

.btn-default {
    border: 1px solid @primary-yellow;
    color: @primary-yellow;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    color: #fff;
    background-color: @primary-yellow;
    border: 1px solid @primary-yellow;
}

.btn-primary {
    background-color: @primary-yellow;
    border: 1px solid @primary-yellow;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff;
    background-color: lighten(@primary-yellow, 20%);
    border: 1px solid lighten(@primary-yellow, 20%);
}

.btn-danger {
    border: 1px solid red;
    background-color: transparent;
    color: red;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    color: #fff;
    background-color: red;
    border: 1px solid red;
}

.btn-success {
    background-color: green;
    border: 1px solid green;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    color: #fff;
    background-color: lighten(green, 20%);
    border: 1px solid lighten(green, 20%);
}


.btn-link {
    color: @primary-purple;
    border-color: transparent;
}
.btn-link:focus, .btn-link:hover, .btn-link:active  {
    text-decoration: none;
    background-color: transparent;
    color: lighten(@primary-purple, 30%);
}

.btn-sticker {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    .font-size-2();
    @media (min-width: @screen-lg-min) {
        height: 160px;
        width: 160px;
    }
}