/* ADMIN CONTENT */
#admin-content {
    padding: 30px;
}
@media (min-width: @screen-sm-min) {
    #admin-content, #admin-content {
        margin-left: 180px;
    }
    #admin-content {
        padding: 0px 40px 40px 40px;
    }
}
@media (min-width: @screen-lg-min) {
        #admin-content, #admin-content {
        margin-left: 300px;
    }
}

/* ORDER CONTENT */
#order-content {
    margin-top: 60px;
    position: relative;
}
@media (min-width: @screen-lg-min) {
    #order-content {
        margin-top: 100px;
    }
}

/* FRONT PAGE CONTENT */
#frontpage-content {
    position: relative;
}
@media (min-width: @screen-md-min) {
    #frontpage-content {
    }
}
/* LOGIN CONTENT */
#login-content {
    position: relative;
    height: 100%;
    min-height: 100vh;
}
@media (min-width: @screen-md-min) {
    #login-content {
    background-color: @light-gray;
    padding: 100px 0px;
    }
}