.form-group {
    position: relative;
}
.form-control {
    padding: 10px 0px;
    .font-size-4();
    .font-text();
    color: @dark-gray;
    background-color: #fff;
    background-image: none;
    border-top: 0;
    border-bottom: 2px solid @medium-gray;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:hover,
    &:active {
        border-bottom: 2px solid @dark-gray;
    }
    &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 2px solid @primary-yellow;
        color: black;
    }
}

.input-group {
    input {
        height: 40px;
    }
}

.input-group-btn {
    .btn {
        height: 40px;
    }
}

form label {
    .font-main();
    .font-size-4();
    margin-bottom: 0px;
}

.form-inline .form-control,
.form-inline label {
    .font-text();
    .font-regular();
    @media (min-width: @screen-sm-min) {
        .font-size-3();
    }
}

.form-inline input {
    transform: translate(0px, -3px);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: @light-gray;
    padding-left: 10px;
}

.form-control-feedback {
    position: relative;
    width: 100%;
}

.has-error .form-control {
    border-color: red;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:hover, &:active {
        border-color: @dark-gray;
    }
    &:focus {
        border-color: @primary-yellow;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.has-error .form-control-feedback {
    color: red;
    position: absolute;
    top: 30px;
    text-align: right;
}