section#banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        transform: translateX(-50%) translateY(-50%);
    }
    .order-panel {
        position: absolute;
        bottom: 50px;
        left: 50%;
        width: 90%;
        height: 100px;
        transform: translateX(-50%);
        background-color: white;
        padding: 20px;
        button {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
        }
        @media (min-width: @screen-md-min) {
            width: 60%;
        }
        @media (min-width: @screen-lg-min) {
            width: 40%;
        }
    }
    .play-sound {
        position: absolute;
        bottom: 160px;
        left: 50%;
        transform: translateX(-50%);
        .font-size-3();
        .font-demi();
        color: white;
        background: transparent;
        &:hover,
        &:active,
        &:focus {
            outline: none;
            background: transparent;
        }
        i {
            margin-right: 15px;
        }
    }
}

section#social-bar {
    div.row {
        div {
            a {
                .font-main();
                .font-demi();
                .font-size-3();
                color: black;
                text-decoration: none;
                padding: 20px 0px;
                line-height: 80px;
            }
        }
        div:nth-child(1) {
            background-color: lighten(@facebook-color, 50%);
            border-bottom: none;
            @media (min-width: @screen-md-min) {
                border-bottom: 4px solid @facebook-color;
            }
            i {
                color: @facebook-color;
            }
        }
        div:nth-child(2) {
            background-color: lighten(@youtube-color, 40%);
            border-bottom: none;
            @media (min-width: @screen-md-min) {
                border-bottom: 4px solid @youtube-color;
            }
            i {
                color: @youtube-color;
            }
        }
        div:nth-child(3) {
            background-color: lighten(@linkedin-color, 55%);
            border-bottom: none;
            @media (min-width: @screen-md-min) {
                border-bottom: 4px solid @linkedin-color;
            }
            i {
                color: @linkedin-color;
            }
        }
        div:nth-child(4) {
            background-color: lighten(@instagram-color, 40%);
            border-bottom: none;
            @media (min-width: @screen-md-min) {
                border-bottom: 4px solid @instagram-color;
            }
            i {
                color: @instagram-color;
            }
        }
    }
}

section#genres {
    background-color: white;
    padding: 50px 0px;
    p {
        text-align: left;
    }
    h2,
    i {
        margin-bottom: 20px;
    }
    h2 {
        color: @primary-purple;
    }
    button {
        margin-bottom: 20px;
        @media (min-width: @screen-lg-min) {
            margin-bottom: 0px;
        }
    }
}

section#video-teaser {
    padding: 50px 0px;
    background-color: @light-gray;
    .video-image {
        overflow: hidden;
        height: 430px;
        @media (min-width: @screen-lg-min) {
            padding-right: 0px;
        }
    }
    .video-text {
        background-color: white;
        padding: 20px;
        @media (min-width: @screen-lg-min) {
            height: 430px;
        }
    }
}

section#showcase-teaser {
    padding: 50px 0px;
    background-color: lighten(#000, 90%);
    .showcase-image,
    .showcase-text {
        height: 230px;
    }
    .showcase-image {
        padding-right: 0px;
        overflow: hidden;
        img {
            min-height: 100%;
            min-width: 100%;
        }
    }
    .showcase-text {
        background-color: white;
        padding: 20px;
        .time,
        .date {
            margin: 0px;
        }
        .date {
            text-align: right;
        }
    }
}

section#testimonials {
    background-color: white;
}

section#footer {
    padding: 50px 0px;
    background-color: darken(@primary-purple, 20%);
    color: white;
    .logo {
        display: block;
        width: 140px;
        height: auto;
    }
    i {
        margin-right: 10px;
    }
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        .font-main();
        .font-size-3();
        .font-demi();
        margin-bottom: 10px;
        span {
            display: block;
            margin-left: 45px;
        }
        a {
            color: white;
            &:hover {
                text-decoration: none;
                color: darken(white, 20%);
            }
        }
    }
    h2 {
        color: white;
        margin: 20px 0px 0px 0px;
        @media (min-width: @screen-sm-min) {
            margin: 0px 0px 17px 0px;
        }
    }
    input {
        padding-left: 15px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
}