#login-box {
    background-color: white;
    @media (min-width: @screen-md-min) {
        padding: 20px;
        .box-shadow();
    }
    .logo {
        margin: 50px auto;
        display: block;
        width: 40%;
    }
}