// Mixins

// Transitions
.transition-all-ease-in() {
    -webkit-transition: all 0.20s ease-out;
    -moz-transition: all 0.20s ease-out;
    transition: all 0.20s ease-out;
}
.transition-all() {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

// Backgrounds
.background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* EFFECTS */
.box-shadow() {
    box-shadow: 0px 0px 10px lighten(black, 85%);
}

// Typography
.font-main() {
	font-family: "rift-soft", sans-serif;
}
.font-text() {
	font-family: "jaf-domus", sans-serif;
}
.font-light() {
	font-weight: 300;
}
.font-regular() {
	font-weight: 400;
}
.font-demi() {
	font-weight: 600;
}
.font-size-1() {
    font-size: 36px; font-size: 3.6rem;
}
.font-size-2() {
    font-size: 30px; font-size: 3.0rem;
}
.font-size-3() {
    font-size: 24px; font-size: 2.4rem;
}
.font-size-4() {
    font-size: 18px; font-size: 1.8rem;
}