.navbar {
    .box-shadow();
    height: 60px;
    background-color: white;
    line-height: 60px;
    .font-main();
    .font-demi();
    .font-size-3();
    .transition-all();
}

@media (min-width: @screen-lg-min) {
    .navbar {
        height: 100px;
        line-height: 100px;
    }
}

.top-scroll {
    box-shadow: none;
    background-color: transparent;
    .transition-all();
    ul {
        li {
            a {
                color: white;
            }
        }
    }
    button {
        color: white;
    }
}

.navbar-collapse {
    background-color: white;
    border-top: 1px solid @light-gray;
    border-bottom: 1px solid @light-gray;
    padding-bottom: 20px;
    text-align: center;
}

@media (min-width: @screen-sm-min) {
    .navbar-collapse {
        border: none;
        background-color: transparent;
    }
}

@media (min-width: @screen-lg-min) {
    .navbar-collapse {
        border-top: none;
    }
}

.nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 60px;
    color: @dark-gray;
    .transition-all();
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;
    color: black;
}

@media (min-width: @screen-lg-min) {
    .nav>li>a {
        line-height: 100px;
    }
}

.navbar .navbar-btn {
    margin-top: 0px;
    margin-bottom: 6px;
    .font-size-3();
}

@media (min-width: @screen-lg-min) {
    .navbar .navbar-btn {
        margin-right: 35px;
    }
}

.navbar .logo {
    height: 40px;
    line-height: 60px;
    margin-left: 15px;
}

@media (min-width: @screen-lg-min) {
    .navbar .logo {
        height: 60px;
        line-height: 100px;
        margin-left: 35px;
    }
}

.navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
    padding: 9px 0px 9px 10px;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
    background-color: black;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}


/* ADMIN NAVIGATION */

nav#admin-nav {
    .font-main();
    .font-demi();
    .font-size-3();
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    background-color: @light-gray;
    overflow: hidden;
}


/* BRAND */

nav#admin-nav .logo {
    background-color: @primary-purple;
    padding: 20px 30px;
    height: 100px;
}

nav#admin-nav .logo img {
    height: 60px;
    display: block;
}


/* BUTTON */

nav#admin-nav .toggle-btn {
    display: block;
    z-index: 10 !important;
    color: white;
    line-height: 60px;
    float: right;
}


/* LIST */

nav#admin-nav ul,
nav#admin-nav li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 50px;
}

nav#admin-nav ul li {
    padding-left: 0px;
    border-left: 3px solid rgba(0, 0, 0, 0);
}

nav#admin-nav ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: @medium-gray;
}

nav#admin-nav ul li a:hover,
nav#admin-nav ul li a:focus {
    text-decoration: none;
    color: #000;
}

nav#admin-nav ul li a i {
    padding-left: 20px;
    width: 20px;
    padding-right: 30px;
}

nav#admin-nav ul li.selected {
    border-left: 3px solid rgba(0, 0, 0, 0);
}

nav#admin-nav ul li.selected a {
    color: #000;
}

nav#admin-nav ul li.selected a:hover,
nav#admin-nav ul li.selected a:focus {
    color: lighten(black, 40%);
}

nav#admin-nav ul li.front-page-link {
    margin-top: 20px;
}

@media (min-width: 767px) {
    nav#admin-nav {
        position: fixed;
        width: 180px;
        height: 100%;
    }
    /* BRAND */
    nav#admin-nav .logo {
        margin-bottom: 20px;
    }
    /* BRAND */
    nav#admin-nav .logo img {
        height: 40px;
        margin-top: 10px;
    }
    /* BUTTON */
    nav#admin-nav .toggle-btn {
        display: none;
    }
    /* LIST */
    nav#admin-nav .menu-content {
        display: block;
    }
    nav#admin-nav ul li a {
        .transition-all();
    }
    nav#admin-nav ul li a:hover {
        text-decoration: none;
        color: #000;
    }
    nav#admin-nav ul li.selected {
        border-left: 3px solid @primary-purple;
    }
    nav#admin-nav ul li.selected a:hover {
        color: lighten(black, 40%);
    }
}

@media (min-width: 1199px) {
    nav#admin-nav {
        width: 300px;
    }
    /* BRAND */
    nav#admin-nav .logo img {
        height: 60px;
        margin-top: 0px;
    }
}