/* COMMON */

article#task-window,
aside#progress,
aside#cart {
    padding: 20px 15px;
    @media (min-width: @screen-lg-min) {
        padding: 50px;
    }
}

aside#progress,
aside#cart {
    background-color: @light-gray;
}


/* TASK WINDOW */

article#task-window {
    margin-bottom: 149px;
    h1#title {
        display: none;
    }
}

@media (min-width: @screen-lg-min) {
    article#task-window {
        margin-bottom: 0px;
        margin-left: 25%;
        margin-right: 25%;
        height: 100%;
        h1#title {
            display: block;
        }
    }
}


/* TASKS */

#tasks {}

.task {
    display: none;
}

.task.active {
    display: block;
}


/* BACK AND FORWARD */

.back-forth-buttons {
    background-color: @light-gray;
    padding: 15px;
    height: 76px;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: @screen-lg-min) {
    .back-forth-buttons {
        margin-top: 50px;
        border-top: none;
        position: relative;
        padding: 0px;
        background-color: transparent;
    }
}


/* PROGRESS */

@media (min-width: @screen-lg-min) {
    aside#progress {
        top: 100px;
        position: fixed;
        left: 0px;
        height: 100%;
    }
}

aside#progress h3 {
    line-height: 33px;
    display: inline;
}

@media (min-width: @screen-lg-min) {
    aside#progress h3 {
        display: none;
    }
}


/* PROGRESS ITEMS */

ul#progress-items {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    overflow: hidden;
    z-index: 1;
}

ul#progress-items li {
    list-style: none;
    background-image: url(../media/line.gif);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    &:first-child {
        background-position: 10px 20px;
    }
    &:last-child {
        background-position: 10px -20px;
    }
}

ul#progress-items li a {
    .font-main();
    .font-demi();
    .font-size-3();
    line-height: 40px;
    display: block;
    text-align: left;
    color: @medium-gray;
    transition: all linear 0.15s;
    text-decoration: none;
}

ul#progress-items li a:hover {
    color: @dark-gray;
}

ul#progress-items li a i {
    margin-right: 10px;
}

ul#progress-items li.active a,
ul#progress-items li.active a:hover {
    color: black;
}


/* CART */

aside#cart {
    position: fixed;
    padding: 0px;
    bottom: 76px;
    .font-main();
    .font-size-3();
    .box-shadow();
    h2 {
        margin: 20px 15px;
    }
    h3 {
        line-height: 33px;
        margin: 20px 0px;
        span {
            color: @primary-purple;
        }
    }
    .row {
        div:last-child {
            padding-left: 0;
        }
        div:nth-child(2) {
            padding-right: 0;
        }
    }
    @media (min-width: @screen-lg-min) {
        top: 100px;
        right: 0px;
        height: 100%;
        box-shadow: none;
        h2 {
            margin: 50px 50px 32px 50px;
        }
        h3 {
            display: none;
        }
    }
}


/* TOGGLE BUTTONS */

#progress-toggle,
#cart-toggle {
    border: 0px;
    padding: 0px 0px 0px 0px;
    background-color: transparent;
    &:focus {
        outline: 0px;
    }
}

@media (min-width: @screen-lg-min) {
    #progress-toggle,
    #cart-toggle {
        display: none;
    }
}

#cart-toggle {
    margin: 20px 15px 20px 0px;
}