/* GLOBALS */
@import "variables.less";
@import "mixins.less";

/* COMPONENTS */
@import "content-areas.less";
@import "navigation.less";
@import "buttons.less";
@import "tables.less";
@import "forms.less";
@import "text-align.less";
@import "typography.less";

/* SPECIFIC STYLES */
@import "order.less";
@import "front.less";
@import "login.less";

/* GLOBALS */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    .font-size-4();
    .font-text();
}
.spacer {
    height: 40px;
}
iframe {
    width: 100%;
    height: 30vh;
}