.table {
    margin-bottom: 0px;
    thead {
        tr {
            th {
                .font-main();
                .font-demi();
                font-size: 20px;
                font-size: 2.0rem;
                border-bottom: 1px solid @medium-gray;
                &:first-child {
                    padding-left: 0px;
                }
                &.options {
                    min-width: 300px;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                color: @dark-gray;
                font-weight: 400;
                &:first-child {
                    padding-left: 0px;
                }
                &.options {
                    text-align: right;
                    .font-main();
                    .font-demi();
                    width: 300px;
                    padding: 5px 0px 5px 10px;
                    button {
                        border-right: 1px solid @medium-gray;
                        border-left: 0px;
                        border-bottom: 0px;
                        border-top: 0px;
                        padding: 3px 10px;
                        background-color: transparent;
                        &:hover,
                        &:focus {
                            text-decoration: none;
                            outline: none;
                        }
                        &:last-child {
                            border-right: 0px;
                        }
                        &.primary-option {
                            color: @primary-yellow;
                            &:hover {
                                color: lighten(@primary-yellow, 20%);
                            }
                        }
                        &.secondary-option {
                            color: black;
                            &:hover {
                                color: lighten(black, 40%);
                            }
                        }
                        &.delete {
                            color: red;
                            &:hover {
                                color: lighten(red, 20%);
                            }
                        }
                        &.restore,
                        &.accept {
                            color: limegreen;
                            &:hover {
                                color: lighten(limegreen, 20%);
                            }
                        }
                    }
                }
            }
        }
    }
}

#cart .table {
    margin-bottom: 0px;
    tbody {
        tr {
            td {
                color: @dark-gray;
                font-weight: 400;
                &:nth-child(2) {
                    padding-left: 0px;
                }
                &:last-child {
                    text-align: right;
                    .font-text();
                    .font-demi();
                    color: @primary-purple;
                    padding-right: 15px;
                    @media (min-width: @screen-lg-min) {
                        padding-right: 50px;
                    }
                }
                &.total {
                    .font-demi();
                }
                &.options {
                    text-align: right;
                    .font-main();
                    .font-demi();
                    width: 50px;
                    padding: 5px;
                }
            }
        }
    }
}

.table>tbody>tr>td.options>a.primary-option i,
.table>tbody>tr>td.options>a.secondary-option i {
    margin-left: 5px;
}

@media (min-width: @screen-lg-min) {
    .table>tbody>tr>td.options button {
        display: none;
        .transition-all-ease-in();
    }
    .table>tbody>tr:hover>td.options button {
        display: inline;
    }
}

.table-strict-first>thead>tr>th:first-child,
.table-strict-first>tbody>tr>td:first-child {
    width: 150px;
    text-align: right;
    .font-main;
    .font-demi();
    font-size: 20px;
    font-size: 2.0rem;
}