/* HEADLINES */

h1,
h2,
h3,
h4,
h5,
h6 {
    .font-main();
    .font-demi();
    color: @primary-purple;
    margin: 0px;
}

h1 {
    .font-size-1();
}

h2 {
    color: black;
    .font-size-2();
}

h3 {
    color: black;
    .font-size-3();
}


/* ADMIN HEADLINES */

#admin-content h1 {
    line-height: 50px;
    line-height: 5.0rem;
    margin-bottom: 10px;
}

@media (min-width: @screen-sm-min) {
    #admin-content h1 {
        line-height: 100px;
        margin-bottom: 30px;
    }
}


/* ORDER HEADLINES */

#order-content h1 {
    margin-bottom: 30px;
}

/* ORDER HEADLINES */

#frontpage-content h1 {
    margin-bottom: 30px;
}


/* LINKS */

a {
    color: @primary-purple;
    text-decoration: none;
}


/* LEAD */

.lead {
    .font-size-3();
    color: @medium-gray;
}