// Variables

//Colours

//Primary
@primary-yellow: #FDC300;
@primary-purple: #9400A8;

//Tones
@dark-purple: darken(@primary-purple, 5%);

//Grays
@light-gray: lighten(#000, 95%);
@medium-gray: lighten(#000, 60%);
@dark-gray: lighten(#000, 35%);

//Social
@facebook-color: #3b5998;
@youtube-color: #e32b26;
@linkedin-color: #007bb6;
@instagram-color: #d93175;

//Screen sizes
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;